{% extends 'index.html' %}
{% block pageContent %}
    {% if form.errors %}
        <div class="alert alert-danger m-4" role="alert">
            Verifique los valores <strong> - intente de nuevo!</strong>
        </div>
    {% endif %}
    <ol class="breadcrumb mb-4 m-lg-3">
            <li class="breadcrumb-item"><a href="{% url 'combustible:vehiculo_list' %}">Vehiculos</a></li>
            <li class="breadcrumb-item active">Registro</li>
        </ol>
    <div class="card shadow-lg border-0 rounded-lg mt-5 mx-4">
        <div class="card-header">
            <strong>Registro De Vehiculo</strong> // {{ consumo.fecha }}
        </div>

        <div class="card-body">
            <form method="post">{% csrf_token %}
                <div class="row">
                    <div class="col border-bottom m-lg-3">
                        <label for=""><b>Placa:</b> {{ vehiculo.placa }}</label>
                    </div>
                    <div class="col border-bottom m-lg-3">
                        <label for=""><b>Vehiculo:</b> {{ vehiculo.vehiculo }}</label>
                    </div>
                    <div class="col border-bottom m-lg-3">
                        <label for=""><b>Rendimiento:</b> {{ vehiculo.rendimiento }}</label>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col border-bottom m-lg-3">
                        <label for=""><b>Combustible:</b> {{ vehiculo.combustible }}</label>
                    </div>
                    <div class="col border-bottom m-lg-3">
                        <label for=""><b>Combustible:</b> {{ vehiculo.asignar }}</label>
                    </div>
                    <div class="col border-bottom m-lg-3">
                        <label for=""><b>Combustible:</b> {{ vehiculo.modelo }}</label>
                    </div>

                </div>

            </form>
        </div>
    </div>
{% endblock pageContent %}