{% extends 'index.html' %}
{% block pageContent %}
    {% if form.errors %}
        <div class="alert alert-danger m-4" role="alert">
            Verifique los valores <strong> - intente de nuevo!</strong>
        </div>
    {% endif %}
    <ol class="breadcrumb mb-4 m-lg-3">
        <li class="breadcrumb-item"><a href="{% url 'mantenimiento:factura_list' %}">Factura</a></li>
        <li class="breadcrumb-item active">Registro</li>
    </ol>
    <div class="card shadow-lg border-0 rounded-lg mt-5 mx-4">
        <div class="card-header">
            <strong>Registro De Factura</strong> // {{ factura.fecha }}
        </div>

        <div class="card-body">
            <form method="post">{% csrf_token %}
                <div class="row">
                    <div class="col border-bottom m-lg-3">
                        <label for=""><b>Factura:</b> {{ factura.numFac }}</label>
                    </div>
                    <div class="col border-bottom m-lg-3">
                        <label for=""><b>Proveedor: </b> {{ factura.proveedor }}</label>
                    </div>
                    <div class="col border-bottom m-lg-3">
                        <label for=""><b>Moneda: </b> {{ factura.moneda }}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col border-bottom m-lg-3">
                        <label for=""><b>Forma de pago: </b> {{ factura.formaPago }}</label>
                    </div>
                    <div class="col border-bottom m-lg-3">
                        <label for=""><b>Total: </b> {{ factura.total }}</label>
                    </div>
                    <div class="col border-bottom m-lg-3">
                        {% if factura.moneda == 'CORDOBAS' %}
                            <label for=""><b>Total $: </b> {{ factura.TotalDolar }}</label>
                        {% else %}
                            <label for=""><b>Total C$: </b> {{ factura.TotalDolar }}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col border-bottom m-lg-3">
                        <label for=""><b>Tipo de cambio: </b> {{ factura.tipoCambio }}</label>
                    </div>
                    <div class="col border-bottom m-lg-3">
                        <label for=""><b>IVA: </b> {{ factura.iva }}</label>
                    </div>
                    <div class="col border-bottom m-lg-3">
                        <label for=""><b>Subtotal: </b> {{ factura.subTotal }}</label>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col border-bottom m-lg-3">
                        <label for=""><b>Detalle:</b> {{ factura.detalle }}</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock pageContent %}