{% extends 'index.html' %}
{% block pageContent %}
    {% if form.errors %}
        <div class="alert alert-danger m-4" role="alert">
          Verifique los valores <strong> - intente de nuevo!</strong>
        </div>
    {% endif %}
    <div class="card shadow-lg border-0 rounded-lg mt-5 mx-4">
        <div class="card-header">
            <strong>Registro De Marca</strong>
        </div>
        <div class="card-body">
            <form method="post">{% csrf_token %}
                <div class="row">
                    <div class="col">
                        <label for="#">{{ form.nombre.label }}</label>
                        {{ form.nombre }}
                    </div>
                    <div class="col">
                        <label for="#">{{ form.descripcion.label }}</label>
                        {{ form.descripcion }}
                </div>
                <div class=" py-3">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                    <a href="{% url 'producto:marca_list' %}" class="btn btn-secondary"><i class="fas fa-trash-alt"></i> Cancelar</a>
                </div>
            </form>
        </div>
    </div>
{% endblock pageContent %}