{% extends 'index.html' %}
{% block pageContent %}
    {% if proveedor_list %}
        <h2 class="mt-3">Registro De Proveedor</h2>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'mantenimiento:mantenimiento_list' %}">Mantenimiento</a></li>
            <li class="breadcrumb-item active">Proveedor</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                Agregar un nuevo registro al sistema de suministro <strong>Passus Velox</strong>
                <div class=" py-3">
                    <a href="{% url 'mantenimiento:proveedor_new' %}" class="btn btn-primary"><i
                            class="fas fa-plus-circle"></i> Agregar</a>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Registro De Proveedor
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Ruc</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Forma de pago</th>
                        <th scope="col">Acción</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Ruc</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Forma de pago</th>
                        <th scope="col">Acción</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for proveedor in proveedor_list %}
                        <tr>
                            <td>{{ proveedor.nombre }}</td>
                            {% if not proveedor.ruc %}
                                <td>No hay RUC relacionado</td>
                            {% else %}
                                <td>{{ proveedor.ruc }}</td>
                            {% endif %}
                            <td>{{ proveedor.telefono }}</td>
                            <td>{{ proveedor.dirreccion }}</td>
                            <td>{{ proveedor.formaPago }}</td>
                            <td class="col-lg-2 col-md-2">
                                <a href="{% url 'mantenimiento:proveedor_update' proveedor.id%}"
                                   class="btn btn-success btn-circle btn-sm">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="{% url 'mantenimiento:proveedor_delete' proveedor.id%}"
                                   class="btn btn-danger btn-circle btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <a href="{% url 'mantenimiento:proveedor_detail' proveedor.id%}"
                                   class="btn btn-primary btn-circle btn-sm">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h1 class="mt-4">Registro De Proveedor</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'mantenimiento:mantenimiento_list' %}">Mantenimiento</a></li>
            <li class="breadcrumb-item active">Proveedor</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                Agregar un nuevo registro al sistema de suministro <strong>Passus Velox</strong>
                <div class=" py-3">
                    <a href="{% url 'mantenimiento:proveedor_new' %}" class="btn btn-primary"><i
                            class="fas fa-plus-circle"></i> Agregar</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}